.signup-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 82vh;

  .title {
    color: rgb(119, 186, 231);
  }

  .signup-btn {
    background-color: rgb(46, 46, 46);
    color: #fff;

    &:hover {
      background-color: rgb(68, 68, 68);
      color: #fff;
    }
  }
}