.signin-form {
  grid-column: center-start / center-end;

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 85vh;

  @media only screen and (max-width: 768px) {
    grid-column: full-start / full-end;

    margin-top: 2rem;
  }

  &__title {
    margin-bottom: 3rem;
    font-size: 4rem;
    color: var(--primaryColor);
    text-align: center;

    @media only screen and (max-width: 576px) {
      font-size: 3.2rem;
    }
  }

  &__signin-btn {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    border: none;
    border-radius: .8rem;
    width: 100%;
    padding: 1.2rem 2.2rem;
    transition: var(--mainTransition);
    background-color: var(--primaryColor);
    color: var(--mainWhite);

    &:hover {
      background-color: var(--secondaryColor);
      cursor: pointer;
    }

    @media only screen and (max-width: 576px) {
      font-size: 1.5rem;
    }
  }

  &__signin-options {
    display: grid;
    justify-items: center;
  }

  &__forgot-password {
    text-align: center;
    margin-top: 2rem;

    &--link {
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--primaryColor);
    }
  }

  &__toast {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
  }

  &__notify-message {
    display: none;
  }
}