.forgot-password {
  grid-column: center-start / center-end;

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70vh;

  &__title {
    margin-bottom: 3rem;
    font-size: 4rem;
    color: var(--primaryColor);
    text-align: center;
  }

  &__text {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }

  &__btn {
    margin-bottom: 2rem;
    font-size: 1.9rem;
    border: none;
    border-radius: .8rem;
    width: 100%;
    padding: 1rem 2.2rem;
    transition: var(--mainTransition);
    background-color: var(--primaryColor);
    color: var(--mainWhite);

    &:hover {
      background-color: var(--secondaryColor);
      cursor: pointer;
    }
  }

  &__messages {
    text-align: center;
    font-size: 1.7rem;
    max-width: 40rem;
    margin: auto;
    display: block;
  }

  &__success {
    color: var(--primaryColor);
  }

  &__error {
    color: #db2525;
  }
}