.user-dashboard {
  grid-column: center-start / center-end;

  @media only screen and (max-width: 768px) {
    grid-column: full-start / full-end;
    margin: 0 2rem;
  }

  &__banner {
    display: grid;
    grid-template-rows: repeat(3, 6rem);

    margin-top: 2rem;
    border-radius: 1rem;
    background-color: var(--primaryColor);

    @media only screen and (max-width: 576px) {
      grid-template-rows: repeat(3, 4rem);
    }
  }

  &__title {
    grid-row: 2;
    justify-self: center;
    align-self: center;

    font-size: 3.5rem;
    color: var(--mainWhite);
    margin: 0;

    @media only screen and (max-width: 576px) {
      font-size: 2.5rem;
    }
  }

  &__list-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    grid-gap: 2rem;

    margin-top: 1rem;
    border: .1rem solid var(--mainGrey);
    border-radius: 2rem;

    list-style-type: none;
    padding: 2rem;

    @media only screen and (max-width: 576px) {
      grid-template-columns: 1fr;
      grid-gap: 1rem;

      padding: 1rem;
    }
  }

  &__list-group-item {
    display: grid;
    grid-template-columns: 14rem 1fr;

    height: 100%;
    border: .1rem solid var(--mainGrey);
    border-radius: 1rem;

    @media only screen and (max-width: 576px) {
      grid-template-columns: 9rem 1fr;
    }

    @media only screen and (max-width: 375px) {
      grid-template-columns: 7rem 1fr;
    }

    &__icon {
      align-self: center;
      justify-self: center;
      height: 4.5rem;
      width: 4.5rem;

      @media only screen and (max-width: 576px) {
        height: 3.3rem;
        width: 3.3rem;
      }
    }

    &:hover {
      background-color: var(--offWhite);
    }

    a {
      color: var(--darkGrey);
      font-family: "Nunito",
        sans-serif;
      font-size: 1.6rem;
      font-weight: 600;
      padding: 6rem 0;
      text-transform: uppercase;

      align-self: center;
      padding-left: 5rem;
      transition: var(--mainTransition);

      @media only screen and (max-width: 576px) {
        font-size: 1.3rem;
        padding: 4rem 3rem;
      }

      @media only screen and (max-width: 349px) {
        padding: 4rem 0;
      }


      &:hover {
        color: var(--primaryColor);
      }
    }
  }
}