textarea:hover,
textarea:active,
input:not([type="checkbox"]):hover,
input:not([type="checkbox"]):focus,
input:not([type="checkbox"]):active,
textarea:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.navbar-toggler {
  border: none;
}