html {
  min-height: 100%;
}

/* @media (max-width: 768px) {
    .navbar{
        position: absolute;
        width: 100%;
        z-index: 9999;
    }
} */

.featured-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

img {
    width: 100%;
    object-fit: cover;
}