  @mixin shrinkLabel {
    top: -2.2rem;
    font-size: 1.4rem;
    color: var(--primaryColor);
  }

  .form-group {
    position: relative;
    margin-bottom: 3.2rem;

    &__textarea {
      background: none;
      background-color: white;
      color: var(--darkGrey);
      font-size: 2.2rem;
      padding: 1rem 1rem 1rem .5rem;
      display: block;
      width: 100%;
      border: none;
      border-radius: .7rem;
      padding-left: 1.5rem;
      border: 0.1rem solid var(--lightGrey);

      &:focus {
        outline-color: var(--primaryColor) !important;
        border-color: var(--primaryColor);
      }

      &:focus~.form-group__textarea-label {
        @include shrinkLabel();
      }
    }

    &__textarea-label {
      color: var(--lightGrey);
      font-size: 1.6rem;
      font-weight: normal;
      position: absolute !important;
      pointer-events: none;
      left: 1.5rem;
      top: 1rem;
      transition: 300ms ease all;

      &.shrink {
        @include shrinkLabel();
      }
    }
  }