.blog {
  grid-column: center-start / center-end;

  margin: 0;

  @media only screen and (max-width: 768px) {
    grid-column: full-start / full-end;
  }

  &__banner-img {
    width: 100%;
    height: 50rem;
    object-fit: cover;

    @media only screen and (max-width: 576px) {
      height: 25rem;
    }
  }

  &__wrapper {
    @media only screen and (max-width: 768px) {
      grid-column: full-start / full-end;
      margin: 0 2rem;
    }
  }

  &__title {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 3.5rem;
    color: var(--primaryColor);

    @media only screen and (max-width: 850px) {
      font-size: 3rem;
    }

    @media only screen and (max-width: 576px) {
      font-size: 2.5rem;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  &__written-by {
    font-size: 1.8rem;
    color: var(--darkGrey);

    @media only screen and (max-width: 576px) {
      font-size: 1.4rem;
    }

    span {
      color: var(--primaryColor);
      font-weight: 600;
    }
  }


  &__categories-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  &__category,
  &__tag {
    font-family: var(--mainFont);
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: .44rem 1.7rem;
    margin: 0 .5rem .5rem 0;
    align-self: center;
    transition: var(--mainTransition);

    @media only screen and (max-width: 576px) {
      font-size: 1.3rem;
      padding: .35rem 1.5rem;
    }
  }

  &__category {
    background-color: var(--primaryColor);
    color: var(--mainWhite);

    &:hover {
      background-color: var(--secondaryColor);
    }
  }

  &__tag {
    border: .1rem solid var(--mainGrey);
    background-color: var(--offWhite);
    color: var(--mainBlack);

    &:hover {
      background-color: var(--lightGrey);
      color: var(--mainGrey);
    }
  }

  &__text {
    margin-top: 3rem;

    p {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }
}