.hero-container {
  grid-column: center-start / center-end;

  @media only screen and (max-width: 550px) {
    grid-column: full-start / full-end;

  }
}

.hero {
  &__title {
    line-height: 8.5rem;
    font-size: 8.5rem;
    font-weight: 500;
    text-align: center;
    padding: 10rem 0;

    @media only screen and (max-width: 550px) {
      font-size: 4.5rem;
      line-height: 5.5rem;
      padding-top: 7rem;
      padding-bottom: 0;
    }
  }
}