.search {
  input[type="search"]::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
    /*Your new styles */
    height: 10px;
    width: 10px;
    background-color: var(--primaryColor);
  }

  &__input-bar {
    width: 100%;
    background-color: white;
    color: var(--darkGrey);
    font-size: 1.4rem;
    padding: .8rem;
    display: block;
    border-radius: .7rem;
    padding-left: 1.5rem;
    border: 0.1rem solid var(--lightGrey);
    margin: 1.5rem 0;

    &:focus {
      outline-color: var(--primaryColor) !important;
      border-color: var(--primaryColor);
    }
  }

  &__list-group {
    position: absolute;
    display: flex;
    flex-direction: column;

    -webkit-box-shadow: 3px 10px 25px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 3px 10px 25px -5px rgba(0, 0, 0, 1);
    box-shadow: 3px 10px 25px -5px rgba(0, 0, 0, 1);
  }

  &__link {
    color: var(--mainBlack);
  }

  &__list-group-item {
    position: relative;
    transition: .4s ease;
    list-style-type: none;

    background-color: #ffffff;
    transition: all 0.35s ease-out;
    border-bottom: 1px solid rgb(196, 193, 193);
    padding: 1rem;
    font-size: 1.5rem;

    &:hover {
      background-color: var(--primaryColorLight);
    }
  }
}