.toggle-button {
  padding: 5px 0;
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 27px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.3s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 6.5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
